
@import "tailwindcss";


.recommendation-card {
    max-width: 20rem;
    background-color: white;
    border: 1px solid #1f2937; /* Tailwind's gray-800 */
    border-radius: 0.5rem;
    overflow: hidden;
    transition: all 0.3s;
  }
  
  .recommendation-card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    background-color: #ede9fe; /* Tailwind's violet-100 */
    border-color: #e5e7eb; /* Tailwind's gray-200 */
  }
  
  .image-container {
    width: 100%;
    aspect-ratio: 4 / 5;
  }
  
  .product-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .product-info {
    padding: 0.5rem;
  }
  
  .product-name {
    font-size: 1.125rem;
    font-weight: 600;
    color: #1f2937; /* Tailwind's gray-800 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  